<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979486392768-thh9r3glvv4v5h19a4hi1ct49c2d5gjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979486392768-thh9r3glvv4v5h19a4hi1ct49c2d5gjq</string>
	<key>API_KEY</key>
	<string>AIzaSyAqiZMZPLSJAl3_OD5VhmGLZeUGBcEc2LY</string>
	<key>GCM_SENDER_ID</key>
	<string>979486392768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freelance</string>
	<key>PROJECT_ID</key>
	<string>article-f579b</string>
	<key>STORAGE_BUCKET</key>
	<string>article-f579b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979486392768:ios:4957138ed590059f5e8825</string>
</dict>
</plist>